<div id = 'libros'>
  <div id ='title-libros'>
    <h1>Listado de libros</h1>
  </div>
  <div>
    <div class = 'col-8'>
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Título</th>
            <th scope="col">Año</th>
            <th scope="col">Número de páginas</th>
            <th scope="col">Id de la editorial</th>
            <th scope="col">Id del autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let libro of Libros">
            <th scope="row">1</th>
            <td>{{libro.id}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.ano}}</td>
            <td>{{libro.n_paginas}}</td>
            <td>{{libro.editorial_id}}</td>
            <td>{{libro.autor_id}}</td>
          </tr>
        </tbody>              
      </table>
    </div>
  </div>
</div>

<div id = 'autores'>
  <div id ='title-autores'>
    <h1>Listado de autores</h1>
  </div>
  <div>
    <div class = 'col-8'>
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Ciudad de Procedencia</th>
            <th scope="col">Correo</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let autor of Autores">
            <th scope="row">1</th>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td>
            <td>{{autor.fecha_nacimiento}}</td>
            <td>{{autor.ciudad_procedencia}}</td>
            <td>{{autor.correo}}</td>            
          </tr>
        </tbody>
        
      
      </table>
    </div>
  </div>
</div>

<div id = 'editoriales'>
  <div id ='title-editoriales'>
    <h1>Listado de libros</h1>
  </div>
  <div>
    <div class = 'col-8'>
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>            
            <th scope="col">Límite de Libros</th>   
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let editorial of Editoriales">
            <th scope="row">1</th>
            <td>{{editorial.id}}</td>
            <td>{{editorial.nombre}}</td>
            <td>{{editorial.direccion}}</td>
            <td>{{editorial.telefono}}</td>
            <td>{{editorial.correo}}</td>
            <td>{{editorial.max_libros}}</td>                                          
          </tr>
        </tbody>
        
      
      </table>
    </div>
  </div>
</div>

